@font-face {
  src: url('../fonts/Brusher.ttf');
  font-family: 'brusher';
}

@font-face {
  src: url('../fonts/edosz.ttf');
  font-family: 'edosz';
}

@font-face {
  src: url('../fonts/Amel\ Brush\ Font.ttf');
  font-family: 'amel';
}