// BREAKPOINTS
$mac: 1600px;
$pc: 1400px;
$ipad: 995px;
$small-pc: 1280px;
$notebook: 1024px;
$ipad: 995px;
$phone: 767px;
$iphone: 550px;
$small-iphone: 320px;

//COLORCODE
$primaryColor: rgb(160,198,63);
$secondaryColor: rgb(32,32,32);
$baseColor: rgb(251,251,251);
$dashedColor: rgb(234,234,234); 
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$transperantBlackColor: rgba(0,0,0,0.3);
