// BREAKPOINTS
$mac: 1600px;
$pc: 1400px;
$ipad: 995px;
$small-pc: 1280px;
$notebook: 1024px;
$ipad: 995px;
$phone: 767px;
$iphone: 550px;
$small-iphone: 320px;

//COLORCODE
$primaryColor: #333B50;
$secondaryColor: rgb(250, 204, 0);
