@font-face {
  src: url("../fonts/Brusher.ttf");
  font-family: 'brusher';
}

@font-face {
  src: url("../fonts/edosz.ttf");
  font-family: 'edosz';
}

@font-face {
  src: url("../fonts/Amel Brush Font.ttf");
  font-family: 'amel';
}

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat';
  background-color: #f7f7f7;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 57%;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    width: 80%;
  }
}

header {
  padding: 14px 0;
  position: relative;
}

header .wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

header .navbar {
  padding-top: 8px;
}

header .navbar li {
  padding: 0 18px;
}

header .navbar li:last-child {
  padding-right: 0;
}

@media screen and (max-width: 995px) {
  header .navbar li {
    padding: 0 10px;
  }
}

header .navbar a {
  padding: 10px 0;
  position: relative;
  color: #202020;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
}

header .navbar a::before {
  content: ' ';
  width: 100%;
  height: 2px;
  position: absolute;
  z-index: 1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  background-color: #a0c63f;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1280px) {
  header .navbar a:hover::before {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  header .navbar {
    width: 100%;
    height: 100vh;
    padding: 100px 0 0;
    position: absolute;
    z-index: 2;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 0);
    background-color: #a0c63f;
    transition: 0.6s ease-in-out;
  }
  header .navbar li {
    padding: 10px 0;
    display: block;
  }
  header .navbar li a {
    display: block;
    text-align: center;
  }
}

header .hamburger {
  display: none;
  width: 40px;
  padding: 8px;
  position: relative;
  z-index: 5;
  box-sizing: border-box;
  cursor: pointer;
}

header .hamburger span {
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  display: block;
  background-color: #a0c63f;
  text-indent: -9999px;
  transition: 0.3s ease-in-out;
}

header .hamburger span:last-child {
  margin: 0;
}

@media screen and (max-width: 767px) {
  header .hamburger {
    display: block;
  }
}

header .pull-me {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 21.5%;
  bottom: auto;
  left: auto;
  color: #202020;
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
}

header .pull-me::after {
  content: '\f02e';
  font-family: 'fontAwesome';
  padding-left: 7px;
  display: inline-block;
  font-size: 16px;
  color: #a0c63f;
}

@media screen and (min-width: 1280px) {
  header .pull-me:hover {
    transform: translateY(-1px);
  }
}

@media screen and (max-width: 1280px) {
  header .pull-me {
    right: 10%;
  }
}

@media screen and (max-width: 767px) {
  header .pull-me {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  header nav:hover .navbar {
    clip-path: circle(120% at 100% 0);
  }
  header nav:hover .hamburger span:first-child {
    background-color: white;
    transform: translateY(8px) rotate(135deg);
  }
  header nav:hover .hamburger span:last-child {
    background-color: white;
    transform: translateY(-8px) rotate(-135deg);
  }
  header nav:hover .hamburger span:nth-child(2) {
    background-color: white;
    transform: scale(0);
  }
}

.slider .wrapper {
  width: 100%;
  position: relative;
}

.slider .slider__content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.slider .slide {
  min-width: 100%;
  position: relative;
}

.slider figure img:last-child {
  display: none;
}

@media screen and (max-width: 550px) {
  .slider figure img:first-child {
    display: none;
  }
  .slider figure img:last-child {
    display: block;
  }
}

.slider h2 {
  width: 28%;
  position: absolute;
  z-index: 1;
  top: 18%;
  right: 20%;
  bottom: auto;
  left: auto;
  color: white;
  font-size: 23px;
  font-weight: 400;
  line-height: 33px;
  text-transform: uppercase;
  text-align: center;
  word-spacing: -2px;
}

@media screen and (max-width: 995px) {
  .slider h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .slider h2 {
    width: 40%;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 550px) {
  .slider h2 {
    width: 70%;
    top: 20%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
    font-size: 20px;
    line-height: 30px;
  }
}

.slider .silder__controls {
  width: 100%;
  padding: 0 6%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: auto;
  bottom: auto;
  left: auto;
  box-sizing: border-box;
  transform: translateY(-50%);
}

.slider .silder__controls a {
  text-indent: -9999px;
}

.slider .silder__controls a.slider-right-button::before {
  content: '\f054';
}

.slider .silder__controls a.slider-left-button::before {
  content: '\f053';
}

.slider .silder__controls a::before {
  font-family: 'fontAwesome';
  text-indent: 0;
  width: 48px;
  height: 48px;
  border: 5px solid white;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  float: left;
  font-size: 17px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1280px) {
  .slider .silder__controls a:hover::before {
    background-color: #a0c63f;
  }
}

.welcome h2 {
  padding: 26px 0;
  color: #202020;
  font-size: 25px;
  font-weight: 500;
  line-height: 33px;
  text-transform: uppercase;
  position: relative;
  letter-spacing: -1px;
  text-align: center;
}

.welcome h2 span {
  color: #a0c63f;
}

.welcome h2::after {
  content: ' ';
  width: 100%;
  height: 0;
  position: absolute;
  z-index: 1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  border: 1px dashed #eaeaea;
}

@media screen and (max-width: 995px) {
  .welcome h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .welcome h2 {
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (max-width: 550px) {
  .welcome h2 {
    font-size: 20px;
  }
}

.welcome ul {
  padding: 32px 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.welcome li {
  width: 18.7%;
  text-align: center;
}

@media screen and (max-width: 995px) {
  .welcome li {
    width: 22%;
  }
}

@media screen and (max-width: 550px) {
  .welcome li {
    width: 100%;
  }
}

.welcome li h2 {
  padding-top: 12px;
  line-height: 25px;
}

.welcome li h2::after {
  content: none;
}

.welcome li h2 span {
  display: block;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0;
}

@media screen and (max-width: 995px) {
  .welcome li h2 span {
    font-size: 10px;
  }
}

.welcome figure {
  border: 1px solid #eaeaea;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}

.welcome figure::after {
  content: ' ';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.welcome figure img {
  border: 15px solid white;
  border-radius: 50%;
  box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
  .welcome a:hover figure::after {
    opacity: 1;
  }
}

.portfolio h3 {
  padding: 6px 0 6px 3.5%;
  color: #202020;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.portfolio h3 span {
  color: #a0c63f;
}

.portfolio .portfolio__cards {
  padding-top: 21px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.portfolio li {
  width: 48.6%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  align-content: normal;
  box-sizing: border-box;
  background-color: white;
}

@media screen and (max-width: 995px) {
  .portfolio li {
    width: 100%;
  }
}

.portfolio li > a {
  width: 48.5%;
  position: relative;
}

@media screen and (max-width: 995px) {
  .portfolio li > a {
    width: 35%;
  }
}

@media screen and (max-width: 767px) {
  .portfolio li > a {
    width: 40%;
  }
}

@media screen and (max-width: 550px) {
  .portfolio li > a {
    width: 100%;
  }
}

.portfolio li > a::after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1280px) {
  .portfolio li > a:hover::after {
    opacity: 1;
  }
}

.portfolio li .card__content {
  width: 51.5%;
  padding: 10px 17px 8px;
  box-sizing: border-box;
}

@media screen and (max-width: 995px) {
  .portfolio li .card__content {
    width: 65%;
  }
}

@media screen and (max-width: 767px) {
  .portfolio li .card__content {
    width: 60%;
  }
}

@media screen and (max-width: 550px) {
  .portfolio li .card__content {
    width: 100%;
  }
}

.portfolio li .card__content a {
  padding: 2px 10px;
  margin: 5px 0;
  color: white;
  font-size: 9px;
  font-weight: 200;
  text-transform: capitalize;
  background-color: #a0c63f;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1280px) {
  .portfolio li .card__content a:hover {
    color: #202020;
  }
}

.portfolio h4 {
  color: #202020;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.portfolio p {
  padding-top: 4px;
  color: #202020;
  font-size: 9px;
  font-weight: 700;
  line-height: 14px;
  text-transform: normal;
}

.portfolio p span {
  font-weight: 900;
}

.advertisment {
  padding-bottom: 14px;
}

.advertisment h3 {
  padding: 21px 0 6px 3.5%;
  color: #202020;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.advertisment h3 span {
  color: #a0c63f;
}

.advertisment ul {
  padding: 25px 0 42px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.advertisment li {
  width: 16.66%;
}

@media screen and (max-width: 767px) {
  .advertisment li {
    width: 33.33%;
  }
}

.advertisment .angle-top {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  position: relative;
  text-indent: -9999px;
  float: right;
  background-color: #a0c63f;
}

.advertisment .angle-top::before {
  content: '\f106';
  font-family: 'fontAwesome';
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-indent: 0;
  float: left;
  color: white;
}

footer {
  padding: 28px 0 0;
  background-color: white;
}

footer .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  align-content: normal;
}

footer .wrapper > ul
, footer .wrapper form {
  width: 20%;
}

@media screen and (max-width: 1280px) {
  footer .wrapper > ul
, footer .wrapper form {
    width: 23%;
    padding-left: 0;
  }
}

@media screen and (max-width: 995px) {
  footer .wrapper > ul
, footer .wrapper form {
    width: 40%;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  footer .wrapper > ul
, footer .wrapper form {
    width: 100%;
    padding-bottom: 25px;
  }
}

footer h4 {
  padding-bottom: 10px;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  footer a:hover {
    color: #a0c63f;
  }
}

footer .about-us p {
  padding: 5px 0 16px;
  color: #202020;
  font-size: 9px;
  font-weight: 700;
  line-height: 14px;
  text-transform: normal;
}

footer .about-us p span {
  font-weight: 900;
}

footer .about-us a {
  text-indent: -9999px;
}

footer .about-us a.facebook::before {
  content: '\f09a';
}

footer .about-us a.twitter::before {
  content: "\f099";
}

footer .about-us a.wifi::before {
  content: '\f099';
}

footer .about-us a.v::before {
  content: '\f099';
}

footer .about-us a.football::before {
  content: '\f099';
}

footer .about-us a.people::before {
  content: '\f099';
}

footer .about-us a::before {
  font-family: 'fontAwesome';
  text-indent: 0;
  float: left;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1280px) {
  footer .about-us a:hover::before {
    color: #a0c63f;
  }
}

footer .archives {
  padding-left: 10px;
}

footer .archives li {
  display: block;
}

footer .archives li:nth-child(2) a {
  padding-top: 5px;
}

footer .archives li:last-child a {
  border-bottom: none;
}

footer .archives a {
  display: block;
  padding: 10.5px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  color: #202020;
  font-size: 9px;
  font-weight: 700;
  text-transform: capitalize;
}

@media screen and (min-width: 1280px) {
  footer .archives a:hover {
    color: #a0c63f;
  }
}

footer .contact-us {
  padding-left: 10px;
}

footer .contact-us li {
  display: block;
}

footer .contact-us a {
  padding-bottom: 11px;
  color: #202020;
  font-size: 9px;
  font-weight: 700;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

footer .contact-us a.mail::before {
  content: '\f0e0';
}

footer .contact-us a.call::before {
  content: '\f095';
}

footer .contact-us a.mobile::before {
  content: '\f10b';
}

footer .contact-us a::before {
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
  font-size: 18px;
  width: 25px;
  height: 20px;
  color: #ACACAC;
}

@media screen and (min-width: 1280px) {
  footer .contact-us a:hover {
    color: #a0c63f;
  }
}

footer form input {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 7px;
  box-sizing: border-box;
  border-style: none;
  font-size: 10px;
  font-style: italic;
  background-color: #FAFAFA;
  border-bottom: 1px solid #EBEBEB;
  outline: none;
}

footer form button {
  padding: 10px 11px;
  margin-top: 9px;
  color: white;
  font-size: 10px;
  font-weight: 200;
  text-transform: uppercase;
  background-color: #a0c63f;
  border-style: none;
  float: right;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1280px) {
  footer form button:hover {
    background-color: #202020;
  }
}

footer .footer-nav {
  padding: 1px 21.4%;
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #202020;
  box-sizing: border-box;
}

footer .footer-nav a {
  color: white;
  font-size: 10px;
  font-weight: 200;
  text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
  footer .footer-nav {
    padding: 1px 10%;
  }
}
