@font-face {
  src: url("../fonts/Brusher.ttf");
  font-family: 'brusher';
}

@font-face {
  src: url("../fonts/edosz.ttf");
  font-family: 'edosz';
}

@font-face {
  src: url("../fonts/Amel Brush Font.ttf");
  font-family: 'amel';
}

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat';
  background-color: #fbfbfb;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 57%;
  margin: 0 auto;
}

header {
  padding: 14px 0;
  position: relative;
}

header .wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

header .navbar {
  padding-top: 8px;
}

header .navbar li {
  padding: 0 18px;
}

header .navbar li:last-child {
  padding-right: 0;
}

header .navbar a {
  padding: 10px 0;
  position: relative;
  color: #202020;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
}

header .navbar a::before {
  content: ' ';
  width: 100%;
  height: 2px;
  position: absolute;
  z-index: 1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  background-color: #a0c63f;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

header .navbar a:hover::before {
  opacity: 1;
}

header .hamburger {
  display: none;
}

header .pull-me {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 21.5%;
  bottom: auto;
  left: auto;
  color: #202020;
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
}

header .pull-me::after {
  content: '\f02e';
  font-family: 'fontAwesome';
  padding-left: 7px;
  display: inline-block;
  font-size: 16px;
  color: #a0c63f;
}

header .pull-me:hover {
  transform: translateY(-1px);
}

.slider .wrapper {
  width: 100%;
  position: relative;
}

.slider .slider__content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.slider .slide {
  min-width: 100%;
  position: relative;
}

.slider figure img:last-child {
  display: none;
}

.slider h2 {
  width: 28%;
  position: absolute;
  z-index: 1;
  top: 18%;
  right: 20%;
  bottom: auto;
  left: auto;
  color: white;
  font-size: 23px;
  font-weight: 400;
  line-height: 33px;
  text-transform: uppercase;
  text-align: center;
  word-spacing: -2px;
}

.slider .silder__controls {
  width: 100%;
  padding: 0 6%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: auto;
  bottom: auto;
  left: auto;
  box-sizing: border-box;
  transform: translateY(-50%);
}

.slider .silder__controls a {
  text-indent: -9999px;
}

.slider .silder__controls a.slider-right-button::before {
  content: '\f054';
}

.slider .silder__controls a.slider-left-button::before {
  content: '\f053';
}

.slider .silder__controls a::before {
  font-family: 'fontAwesome';
  text-indent: 0;
  width: 48px;
  height: 48px;
  border: 5px solid white;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  float: left;
  font-size: 17px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

.welcome h2 {
  padding: 26px 0;
  color: #202020;
  font-size: 25px;
  font-weight: 500;
  line-height: 33px;
  text-transform: uppercase;
  position: relative;
  letter-spacing: -1px;
  text-align: center;
}

.welcome h2 span {
  color: #a0c63f;
}

.welcome h2::after {
  content: ' ';
  width: 100%;
  height: 0;
  position: absolute;
  z-index: 1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  border: 1px dashed #eaeaea;
}

.welcome ul {
  padding: 32px 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.welcome li {
  width: 18.7%;
}

.welcome li h2 {
  padding-top: 12px;
  line-height: 25px;
}

.welcome li h2::after {
  content: none;
}

.welcome li h2 span {
  display: block;
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0;
}

.welcome figure {
  border: 1px solid #eaeaea;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}

.welcome figure::after {
  content: ' ';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.welcome figure img {
  border: 15px solid white;
  border-radius: 50%;
  box-sizing: border-box;
}

.welcome a:hover figure::after {
  opacity: 1;
}

.portfolio h3 {
  padding: 6px 0 6px 3.5%;
  color: #202020;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.portfolio h3 span {
  color: #a0c63f;
}

.portfolio .portfolio__cards {
  padding-top: 21px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.portfolio li {
  width: 48.6%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  align-content: normal;
  box-sizing: border-box;
  background-color: white;
}

.portfolio li > a {
  width: 48.5%;
  position: relative;
}

.portfolio li > a::after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.portfolio li > a:hover::after {
  opacity: 1;
}

.portfolio li .card__content {
  width: 51.5%;
  padding: 10px 17px 8px;
  box-sizing: border-box;
}

.portfolio li .card__content a {
  padding: 2px 10px;
  margin: 5px 0;
  color: white;
  font-size: 9px;
  font-weight: 200;
  text-transform: capitalize;
  background-color: #a0c63f;
  transition: 0.3s ease-in-out;
}

.portfolio li .card__content a:hover {
  color: #202020;
}

.portfolio h4 {
  color: #202020;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.portfolio p {
  padding-top: 4px;
  color: #202020;
  font-size: 9px;
  font-weight: 700;
  text-transform: normal;
  line-height: 14px;
}

.portfolio p span {
  font-weight: 900;
}

.advertisment h3 {
  padding: 21px 0 6px 3.5%;
  color: #202020;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.advertisment h3 span {
  color: #a0c63f;
}

.advertisment ul {
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.advertisment li {
  width: 16.66%;
}
